#widget {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 16px;
}

.hidden {
    display: none;
}

#widget-content {
    text-shadow: 1px 1px 2px #000;
    font-size: 20px;
    color: var(--clear-text-color, #fff);
}

svg {
    fill: var(--clear-text-color, #fff);
    filter: drop-shadow(1px 1px 2px #000);
}

#widget-content span {
    vertical-align: middle;
}

#widget-content svg {
    fill: var(--clear-text-color, #fff);
    vertical-align: middle;
    margin-right: 10px;
}

#widget-content .grey {
    color: #aaa;
}
