#widget {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 16px;
}

#widget.position-left {
    left: 0;
    right: auto;
    transform: none;
}

#widget.position-right {
    right: 0;
    left: auto;
    transform: none;
    text-align: right;
}

#widget.position-custom {
    transform: translate(0px, 0px);
}

.hidden {
    display: none;
}

#widget-content {
    text-shadow: 1px 1px 2px #000;
    font-size: 20px;
    color: var(--clear-text-color, #fff);
}

svg {
    fill: var(--clear-text-color, #fff);
    filter: drop-shadow(1px 1px 2px #000);
}

#widget-content span {
    vertical-align: middle;
}

#widget-content svg {
    fill: var(--clear-text-color, #fff);
    vertical-align: middle;
    margin-right: 5px;
    filter: drop-shadow(1px 1px 2px #000) brightness(0.67);
}

#widget-content .grey {
    color: var(--clear-text-color, #fff);
    filter: brightness(0.67);
}

#ms {
    vertical-align: baseline;
    position: relative;
    top: 1px;
    font-size: 0.9em;
}